<template>
  <div class="home">
    <img alt="plantd logo" src="../assets/images/logo.svg" class="home-logo" uk-svg />
    <Dashboard msg="plantd" />
  </div>
</template>

<script>
import Dashboard from "@/components/dashboard";

export default {
  name: "Home",
  components: {
    Dashboard,
  },
};
</script>

<style lang="less">
.home-logo {
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}
</style>
