<template>
  <div class="organization">
    <h1>Organization</h1>
    <user-table :users="users"></user-table>
  </div>
</template>

<script lang="ts">
import { useQuery, useResult } from "@vue/apollo-composable";

import usersQuery from "../graphql/queries/users.query.gql";
import UserTable from "@/components/UserTable.vue";

export default {
  name: "Organization",
  components: { UserTable },

  setup() {
    const { result: usersResult, loading } = useQuery(usersQuery);
    const users = useResult(usersResult, null, (data) => data.users.edges);
    return {
      users,
      loading,
    };
  },
};
</script>
