<template>
  <div class="uk-background-default uk-align-left">
    <ul class="uk-breadcrumb">
      <li><a href="">network</a></li>
      <li><a href="">module</a></li>
      <li><span>derp</span></li>
    </ul>
  </div>
</template>
