<template>
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
      <thead>
        <tr>
          <th class="uk-table-shrink"></th>
          <th class="uk-table-shrink">ID</th>
          <!-- <th class="uk-table-shrink">Photo</th>-->
          <th class="uk-width-shrink">Username</th>
          <th class="uk-width-shrink uk-text-nowrap">First Name</th>
          <th class="uk-width-shrink uk-text-nowrap">Last Name</th>
          <th class="uk-width-shrink uk-text-nowrap">E-mail</th>
          <th class="uk-table-shrink">Staff</th>
          <th class="uk-table-shrink">Active</th>
          <th class="uk-table-shrink">Superuser</th>
          <th class="uk-table-shrink">Date Joined</th>
          <th class="uk-table-shrink">Last Login</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.node.id">
          <td>
            <label>
              <input class="uk-checkbox" type="checkbox" />
            </label>
          </td>
          <td>
            {{ user.node.id }}
            <!-- <img-->
            <!--   class="uk-preserve-width uk-border-circle"-->
            <!--   src="https://goo.gl/khGCrk"-->
            <!--   width="40"-->
            <!--   alt=""-->
            <!-- />-->
          </td>
          <td class="uk-table-link">
            <a class="uk-link-reset" href="">
              {{ user.node.username }}
            </a>
          </td>
          <td class="uk-text-truncate">{{ user.node.firstName }}</td>
          <td class="uk-text-nowrap">{{ user.node.lastName }}</td>
          <td class="uk-text-nowrap">{{ user.node.email }}</td>
          <td>
            <label>
              <input class="uk-checkbox" type="checkbox" />
            </label>
          </td>
          <td>
            <label>
              <input class="uk-checkbox" type="checkbox" />
            </label>
          </td>
          <td>
            <label>
              <input class="uk-checkbox" type="checkbox" />
            </label>
          </td>
          <td class="uk-text-nowrap">{{ user.node.date_joined }}</td>
          <td class="uk-text-nowrap">{{ user.node.last_login }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import { User } from "@/graphql/types";

@Component
export default class UserTable extends Vue {
  @Prop() private users!: Array<User>;
}
</script>

<style lang="less">
@import "../assets/less/theme.less";

.uk-table-hover > tr:hover,
.uk-table-hover tbody tr:hover {
  background: @table-row-hover;
}
</style>
