<template>
  <div class="sidebar">
    <img
      v-if="isOpen"
      alt="logo"
      src="../../../assets/images/logo.svg"
      class="sidebar-logo"
      :class="{
        'sidebar-logo--expanded': isExpanded,
        'sidebar-logo--opened': !isExpanded,
      }"
      uk-svg
    />
    <div
      :class="{
        'sidebar--expanded uk-padding-small': isOpen && isExpanded,
        'sidebar--opened uk-padding-small': isOpen && !isExpanded,
        'sidebar--closed': !isOpen,
      }"
    >
      <nav v-if="isOpen" role="main-navigation">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-active">
            <router-link to="/">
              <span v-if="isExpanded" class="uk-margin-small-right" uk-icon="icon: home; ratio: 1" />
              <span v-else uk-icon="icon: home; ratio: 2" />
              <span v-if="isOpen && isExpanded">Home</span>
            </router-link>
          </li>
          <li :class="{ 'uk-parent': isOpen && isExpanded }">
            <a href="#">
              <span v-if="isExpanded" class="uk-margin-small-right" uk-icon="icon: world; ratio: 1" />
              <span v-else uk-icon="icon: world; ratio: 2" />
              <span v-if="isOpen && isExpanded">Dashboards</span>
            </a>
            <ul v-if="isOpen && isExpanded" class="uk-nav-sub">
              <li v-for="dashboard in items.dashboards" :key="dashboard.id">
                <a class="uk-text-truncate" :href="`/dashboard/${dashboard.id}`">
                  {{ dashboard.name }}
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="uk-margin-small-right" uk-icon="icon: bookmark" />
                  Recently Viewed
                </a>
                <ul>
                  <li v-for="dashboard in recentlyViewedDashboards()" :key="dashboard.id">
                    <a class="uk-text-truncate" :href="`/dashboard/${dashboard.id}`">
                      {{ dashboard.name }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li :class="{ 'uk-parent': isOpen && isExpanded }">
            <a href="#">
              <span v-if="isExpanded" class="uk-margin-small-right" uk-icon="icon: server; ratio: 1" />
              <span v-else uk-icon="icon: server; ratio: 2" />
              <span v-if="isOpen && isExpanded">Networks</span>
            </a>
            <ul v-if="isOpen && isExpanded" class="uk-nav-sub">
              <li class="uk-parent">
                <router-link to="/controllers">
                  <span class="uk-margin-small-right" uk-icon="icon: settings" />
                  Controllers
                </router-link>
                <ul class="uk-nav-sub">
                  <li v-for="controller in items.controllers" :key="controller.id">
                    <a class="uk-text-truncate" :href="`/controller/${controller.id}`">
                      {{ controller.name }}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="uk-parent">
                <router-link to="/devices">
                  <span class="uk-margin-small-right" uk-icon="icon: cog" />
                  Devices
                </router-link>
                <ul class="uk-nav-sub">
                  <li v-for="device in items.devices" :key="device.id">
                    <a class="uk-text-truncate" :href="`/device/${device.id}`">{{ device.name }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <sidebar-expander @onClose="onClose" @onOpen="onOpen" @onExpand="onExpand" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SidebarExpander from "@/components/nav/sidebar/sidebar-expander.vue";

interface SidebarData {
  isOpen: boolean;
  isExpanded: boolean;
  items: {
    dashboards: Array<any>;
    controllers: Array<any>;
    devices: Array<any>;
  };
}

@Component({
  components: { SidebarExpander },
})
export default class Sidebar extends Vue {
  isOpen = true;
  isExpanded = true;
  items: any;

  data(): SidebarData {
    return {
      isOpen: true,
      isExpanded: true,
      // TODO: this is dummy data for navigation, should get from backend
      items: {
        dashboards: [
          { id: 0, name: "Device Monitoring", recentlyViewed: true },
          { id: 1, name: "Network Monitoring", recentlyViewed: false },
        ],
        controllers: [
          { id: 0, name: "Control System A" },
          { id: 1, name: "Control System B" },
        ],
        devices: [
          { id: 0, name: "Device A" },
          { id: 1, name: "Device B" },
        ],
      },
    };
  }

  public recentlyViewedDashboards(): Array<any> {
    return this.items.dashboards.filter((dashboard: { recentlyViewed: boolean }) => dashboard.recentlyViewed);
  }

  public setIsOpen(newVal: boolean): void {
    this.isOpen = newVal;
  }

  public setIsExpanded(newVal: boolean): void {
    this.isExpanded = newVal;
  }

  onClose(): void {
    this.setIsOpen(false);
    this.setIsExpanded(false);
  }

  onOpen(): void {
    this.setIsOpen(true);
    this.setIsExpanded(false);
  }

  onExpand(): void {
    this.setIsOpen(true);
    this.setIsExpanded(true);
  }
}
</script>

<style lang="less">
@import "node_modules/uikit/src/less/uikit.less";
@import "../../../assets/less/theme.less";

.sidebar {
  position: relative;
  padding-top: 120px;
  background: @sidebar-background-color;

  &-logo {
    position: absolute;
    top: 20px;
    width: 80px;
    height: 80px;
    -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));

    &--opened {
      left: 20px;
    }

    &--expanded {
      left: 60px;
    }
  }

  li {
    width: 100%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
  }

  &--closed {
    width: 15px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  &--opened {
    width: 40px;
    margin-left: 5px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  &--expanded {
    width: 180px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
}
</style>
