<template>
  <div class="sidebar-expander">
    <ul class="uk-iconnav uk-iconnav-vertical">
      <li><button class="btn btn--minimize" @click="handleClose"></button></li>
      <li><button class="btn btn--open" @click="handleOpen"></button></li>
      <li><button class="btn btn--expand" @click="handleExpand"></button></li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Vue } from "vue-property-decorator";

@Component
export default class SidebarExpander extends Vue {
  @Emit("onClose")
  handleClose(): void {
    return;
  }

  @Emit("onOpen")
  handleOpen(): void {
    return;
  }

  @Emit("onExpand")
  handleExpand(): void {
    return;
  }
}
</script>

<style lang="less">
@import "node_modules/nord/src/lesscss/nord.less";
@import "../../../assets/less/theme.less";

.sidebar-expander {
  position: absolute;
  right: -15px;
  bottom: 20px;

  .btn {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border: 6px solid @sidebar-background-color;
    border-radius: 15px;

    &:focus {
      outline: 0 !important;
    }

    &:active {
      background: @sidebar-background-color;
    }

    &:hover {
      border: 4px solid @sidebar-background-color;
    }

    &--minimize {
      background: @nord13;
    }

    &--open {
      background: @nord14;
    }

    &--expand {
      background: @nord15;
    }
  }
}
</style>
