<html>
  <head>
    <title>plantd Django Application</title>
  </head>
  <body>
    <h1>Hi, this is a public page</h1>
    <p> There are <b>{{num_users}}</b> users signed up </p>
    <p>You can <a href="{{login_url}}">login</a> to view your private page</p>
  </body>
</html>
