<html lang="html">
  <head>
    <title>Profile</title>
  </head>
  <body>
    <h1>This is private information (<a href="{% url 'logout' %}">Logout</a>)</h1>
    <p>You are logged in as {{user_id}}</p>
    {% if message %}
      <span style="color: red; ">
        <h3>{{message}}</h3>
      </span>
    {% endif %}
    <p>Your birthday is {{birthday}}</p>
    <p>Please enter your birthday</p>
    <form action="/profile" method="POST">
      {% csrf_token %}
      <label>
          <input type="text" name="birthday" placeholder="When were you born">
      </label>
      <input type="hidden" name="user_id" value="{{user_id}}">
      <input type="Submit" value="SEND">
    </form>
  </body>
</html>
