<template>
  <div class="uk-margin uk-align-center">
    <div class="bar-gauge" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import * as d3 from "d3";

export interface BarGaugeConfig {
  minValue: number;
  maxValue: number;
  minAngle: number;
  maxAngle: number;

  // dimensions
  size: number;
  width: number;
  height: number;

  // color space
  arcColorFn: string;
}

interface Datum {
  name: string;
  value: number;
  innerRadius: number;
  outerRadius: number;
  startAngle: number;
  endAngle: number;
}

@Component({
  name: "BarGauge",
})
export default class BarGauge extends Vue {
  @Prop({
    type: Object,
    default: () => ({
      minValue: 0,
      maxValue: 150,
      minAngle: -90,
      maxAngle: 90,
      size: 200,
      width: 400,
      height: 400,
      arcColorFn: d3.interpolateHsl(d3.rgb("#e8e2ca"), d3.rgb("#3e6c0a")),
    }),
  })
  private config!: BarGaugeConfig;
  @Prop({
    type: Array,
    default: () => [
      { name: "one", value: 20.5 },
      { name: "two", value: 13.4 },
      { name: "three", value: 4.0 },
      { name: "four", value: 4.9 },
      { name: "five", value: 2.8 },
    ],
  })
  private data!: Array<Datum>;

  mounted(): void {
    this.draw();
  }

  draw(): void {
    const svg = d3
      .select(".bar-gauge")
      .append("svg")
      .attr("width", this.config.width)
      .attr("height", this.config.height);

    const sortedData = this.data.sort((a, b) => (a.value > b.value ? 1 : -1));
    const color = d3.scaleOrdinal(d3.schemePastel1);

    const max_value = d3.max(sortedData, (o) => o.value);

    if (max_value === undefined) {
      return;
    }

    const angleScale = d3
      .scaleLinear()
      .domain([0, max_value])
      .range([0, 1.5 * Math.PI]);

    const arc = d3
      .arc<Datum>()
      .innerRadius((d: Datum, i) => (i + 1) * 25)
      .outerRadius((d: Datum, i) => (i + 2) * 25)
      .startAngle(angleScale(0))
      .endAngle((d: Datum) => angleScale(d.value));

    const g = svg.append("g");

    g.selectAll("path")
      .data(sortedData)
      .enter()
      .append("path")
      .attr("d", arc)
      .attr("fill", (d: Datum, i: number) => color(`${i}`))
      .attr("stroke", "#FFF")
      .attr("stroke-width", "1px")
      .on("mouseenter", function () {
        d3.select(this).transition().duration(200).attr("opacity", 0.5);
      })
      .on("mouseout", function () {
        d3.select(this).transition().duration(200).attr("opacity", 1);
      });

    g.selectAll("text")
      .data(this.data)
      .enter()
      .append("text")
      .text((d) => `${d.name} -  ${d.value}`)
      .attr("x", -100)
      .attr("dy", -8)
      .attr("y", (d, i) => -(i + 1) * 25);

    g.attr("transform", `translate(${this.config.width / 2}, ${this.config.height / 2})`);
  }
}
</script>
