<template>
  <div id="app">
    <div class="uk-container-expand">
      <div class="uk-grid-small uk-grid-collapse uk-grid" uk-height-viewport uk-grid>
        <sidebar />
        <div class="uk-width-expand@s content">
          <topbar />
          <main role="content">
            <div class="uk-padding uk-margin-top uk-align-center">
              <router-view />
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UIkit from "uikit";
import Icons from "uikit/dist/js/uikit-icons";

import Sidebar from "@/components/nav/sidebar";
import Topbar from "@/components/nav/Topbar";

UIkit.use(Icons);

export default {
  name: "App",
  components: { Topbar, Sidebar },
};
</script>

<style lang="less">
@import "../node_modules/uikit/src/less/uikit.less";
@import "./assets/less/theme.less";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.content {
  padding-right: 10px;
  padding-left: 10px;
}
</style>
