<template>
  <nav class="uk-navbar-container uk-align-right uk-margin-top uk-margin-remove-bottom" uk-navbar>
    <div class="uk-background-default">
      <ul class="uk-navbar-nav">
        <li>
          <button class="btn uk-button uk-button-default uk-padding-remove-left" style="border: none" type="button">
            Account
          </button>
          <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><router-link to="/profile">Profile</router-link></li>
              <li class="uk-nav-header">Settings</li>
              <li><router-link to="/account">Account</router-link></li>
              <li><router-link to="/organization">Organization</router-link></li>
              <li class="uk-nav-header">Help</li>
              <li>
                <a href="https://plantd.gitlab.io" target="_blank">Documentation</a>
              </li>
              <li>
                <a href="https://gitlab.com/plantd/plantd-django" target="_blank">Repository</a>
              </li>
              <li><router-link to="/about">About</router-link></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<style lang="less" scoped>
li {
  text-align: left;
}
</style>
